{% extends "base.html" %}

{% block content %}
<h5><a href="{% url login %}">login</a></h5>
<h1>Last 5 Blog Entries</h1>
{% if entries|length > 0 %}
{% for entry in entries %}
<div class="entry">
   <li>
          <h2>{{ entry.title }}</h2>
          <div class="entry_body">
          {{ entry.text|safe }}
          </div>
          <li>By - {{entry.owned}}</li>
          <li>EntryTime:{{entry.pub_date}}</li>
   </li>
</div>
{% endfor %}
{% else %}
<p>No entries created yet.  Get to work!</p>
{% endif %}
{% endblock %}